* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-icon {
    stroke: black;
    stroke-linecap: square;
}

html,
body {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
}


body::-webkit-scrollbar {
    display: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

section {
    margin-top: 8rem;
}

@media (max-width: 576px) {
    section {
        margin-top: 0rem;
    }
}

section h5 {
    font-family: 'PT Mono', monospace;
    letter-spacing: .2rem;
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

section .mb {
    margin-bottom: 6rem;
}

section h6 {
    letter-spacing: .2rem;
    font-size: 1rem;
    font-family: 'PT Mono', monospace;
}

section p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    width: 74%;
}

section button {
    font-family: 'PT Mono', monospace;
    background-color: #fff;
    border: none;
    letter-spacing: .1rem;
    font-size: .8rem;
    padding: .4rem 1rem;
}

section img {
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.14);
}

nav {
    font-family: 'PT Mono', monospace;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}

nav .navbar-nav {
    letter-spacing: .1rem;
}

nav .navbar-brand {
    font-size: 1rem;
    letter-spacing: .12rem;
    font-weight: 600;
}

@media (max-width: 1200px) {

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .navbar-nav {
        height: 100vh;
    }
    .navbar-nav li {
        padding-bottom: 8vh;
    }
}

header {
    background-color: #f2f2f2;
    background-image: url(../images/header/pen_&_paper.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

header .heading-container {
    height: 90vh;
    font-family: 'PT Mono', monospace;
    padding-top: 10vh;
}

header .heading-container h3 {
    line-height: 3rem;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.2);
}


@keyframes bounce {
    0% {
        transform: translateY(-4px)
    }
    50% {
        transform: translateY(8px)
    }
    100% {
        transform: translateY(-4px)
    }
}

header .scroll-down {
    animation: bounce 2s infinite alternate ease-in-out;
}

#about {
    margin-top: 8rem;
}

#about .container {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10rem;

}

#about .container p {
    width: 100%;
}

#about img {
    width: 30%;
    height: auto;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.14);
}

#about .left {
    padding-right: 4rem;
}

#about .left a {
    font-size: .8rem;
    letter-spacing: .1rem;
}

@media (max-width: 576px) {
    #about {
        margin: 10rem 0rem;
    }
}


#behance .container {
    background-color: #1769FF;
    color: white;
    padding: 8rem 4rem;
}

#behance button {
    color: #1769FF;
    background-color: white;
}

#behance button a {
    text-decoration: none;
    color: #1769FF;
}

#behance button:hover a {
    color: white;
    transition: color 200ms ease-in;
}

#behance button:hover {
    background-color: #1769FF;
    transition: background 200ms ease-in;
}

#behance .behance-content {
    padding-left: 8rem;
}

@media (max-width: 576px) {
    #behance .behance-content {
        padding-left: 0rem;
    }
}


#github .container {
    background-color: #6CC644;
    color: white;
    padding: 8rem 4rem;
}

#github button {
    color: #6CC644;
    background-color: white;
}

#github button a {
    text-decoration: none;
    color: #6CC644;
}

#github button:hover a {
    color: white;
    transition: color 200ms ease-in;
}

#github button:hover {
    background-color: #6CC644;
    transition: background 200ms ease-in;
}

#github .github-content {
    padding-left: 8rem;
}

@media (max-width: 576px) {
    #github .github-content {
        padding-left: 0rem;
    }
}

#codepen .container {
    background-color: #CCCCCC;
    color: black;
    padding: 8rem 4rem;
}

#codepen .codepen-content {
    padding-left: 8rem;
}

@media (max-width: 576px) {
    #codepen .codepen-content {
        padding-left: 0rem;
    }
}

#codepen button {
    color: #000000;
    background-color: black;
}

#codepen button a {
    text-decoration: none;
    color: #CCCCCC;
}

#codepen button:hover a {
    color: black;
    transition: color 200ms ease-in;
}

#codepen button:hover {
    background-color: #CCCCCC;
    transition: background 200ms ease-in;
}

#notion .container {
    background-color: #EB5757;
    color: white;
    padding: 8rem 4rem;
}

#notion .notion-content {
    padding-left: 8rem;
}

@media (max-width: 576px) {
    #notion .notion-content {
        padding-left: 0rem;
    }
}

#notion button {
    color: #EB5757;
    background-color: white;
}

#notion button a {
    text-decoration: none;
    color: #EB5757;
}

#notion button:hover a {
    color: white;
    transition: color 200ms ease-in;
}

#notion button:hover {
    background-color: #EB5757;
    transition: background 200ms ease-in;
}

#reach-me-out {
    width: 80%;
    margin: auto;
    margin-top: 8rem;
}

#reach-me-out input::placeholder,
textarea::placeholder {
    font-size: .8rem;
    text-transform: capitalize;
}

#reach-me-out button {
    font-size: .9rem;
    padding: .4rem 2rem;
}

@media (min-width: 1200px) {
    #behance .container,
    #github .container,
    #codepen .container,
    #notion .container {
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 8rem 14rem;
        padding-top: 10rem;
        height: 80vh;
    }
    #behance .behance-content,
    #github .github-content,
    #codepen .codepen-content,
    #notion .notion-content {
        padding-top: 4rem;
    }

    section {
        margin-top: 0rem;
    }
}

footer {
    font-family: 'PT Mono', monospace;
    margin-bottom: 10rem;
}

footer .feather {
    width: 2rem;
    height: 4rem;
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    padding: 2rem 0rem;
}

footer .twitter:hover {
    fill: #1da1f2;
    stroke: white;
}

footer .linkedin:hover {
    fill: #0077b5;
    stroke: white;
}

footer .instagram:hover {
    fill: #dc044f;
    stroke: white;
}

footer .facebook:hover {
    fill: #3b5a9a;
    stroke: white;
}

footer address {
    font-size: .9rem;
    margin-top: 2rem;
}
