* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-icon {
    stroke: black;
    stroke-linecap: square;
}

html,
body {
    font-size: 14px;

    position: relative;

    margin: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

section {
    margin-top: 8rem;
}

@media (max-width: 576px) {
    section {
        margin-top: 0rem;
    }
}

section h5 {
    font-family: 'PT Mono', monospace;
    font-size: 1.1rem;

    margin-bottom: 4rem;

    letter-spacing: .2rem;
}

section .mb {
    margin-bottom: 6rem;
}

section h6 {
    font-family: 'PT Mono', monospace;
    font-size: 1rem;

    letter-spacing: .2rem;
}

section p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;

    width: 74%;
}

section button {
    font-family: 'PT Mono', monospace;
    font-size: .8rem;

    padding: .8rem 1.4rem;

    letter-spacing: .1rem;

    border: none;
    background-color: #fff;
}

section img {
    box-shadow: 0 40px 40px rgba(0, 0, 0, .14);
}

nav {
    font-family: 'PT Mono', monospace;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

nav .navbar-nav {
    letter-spacing: .1rem;
}

nav .navbar-brand {
    font-size: 1rem;
    font-weight: 600;

    letter-spacing: .12rem;
}

@media (max-width: 1200px) {
    .navbar-nav {
        display: flex;

        height: 100vh;

        align-items: center;
        justify-content: center;
    }
    .navbar-nav {
        height: 100vh;
    }
    .navbar-nav li {
        padding-bottom: 8vh;
    }
}

header {
    background-color: #f2f2f2;
    background-image: url(../images/header/pen_&_paper.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

header .heading-container {
    font-family: 'PT Mono', monospace;

    height: 90vh;
    padding-top: 10vh;
}

header .heading-container h3 {
    line-height: 3rem;

    text-shadow: 0 1px 3px rgba(255, 255, 255, .2);
}

@keyframes bounce {
    0% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(-4px);
    }
}

header .scroll-down {
    animation: bounce 2s infinite alternate ease-in-out;
}

#about {
    margin-top: 8rem;
}

#about .container {
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 10rem;
}

#about .container p {
    width: 100%;
}

#about img {
    width: 30%;
    height: auto;

    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .14);
}

#about .left {
    padding-right: 4rem;
}

#about .left a {
    font-size: .8rem;

    letter-spacing: .1rem;
}

@media (max-width: 576px) {
    #about {
        margin: 10rem 0rem;
    }
}

#behance .container {
    padding: 8rem 4rem;

    color: white;
    background-color: #1769ff;
}

#behance button {
    color: #1769ff;
    background-color: white;
}

#behance button a {
    text-decoration: none;

    color: #1769ff;
}

#behance button:hover a {
    transition: color 200ms ease-in;

    color: white;
}

#behance button:hover {
    transition: background 200ms ease-in;

    background-color: #1769ff;
}

#behance .behance-content {
    padding-left: 8rem;
}

#github .container {
    padding: 8rem 4rem;

    color: white;
    background-color: #6cc644;
}

#github button {
    color: #6cc644;
    background-color: white;
}

#github button a {
    text-decoration: none;

    color: #6cc644;
}

#github button:hover a {
    transition: color 200ms ease-in;

    color: white;
}

#github button:hover {
    transition: background 200ms ease-in;

    background-color: #6cc644;
}

#github .github-content {
    padding-left: 8rem;
}

#codepen .container {
    padding: 8rem 4rem;

    color: black;
    background-color: #ccc;
}

#codepen .codepen-content {
    padding-left: 8rem;
}

#codepen button {
    color: #000;
    background-color: black;
}

#codepen button a {
    text-decoration: none;

    color: #ccc;
}

#codepen button:hover a {
    transition: color 200ms ease-in;

    color: black;
}

#codepen button:hover {
    transition: background 200ms ease-in;

    background-color: #ccc;
}

#notion .container {
    padding: 8rem 4rem;

    color: white;
    background-color: #eb5757;
}

#notion .notion-content {
    padding-left: 8rem;
}

#notion button {
    color: #eb5757;
    background-color: white;
}

#notion button a {
    text-decoration: none;

    color: #eb5757;
}

#notion button:hover a {
    transition: color 200ms ease-in;

    color: white;
}

#notion button:hover {
    transition: background 200ms ease-in;

    background-color: #eb5757;
}

#reach-me-out {
    width: 80%;
    margin: auto;
    margin-top: 8rem;
}

#reach-me-out input::placeholder,
textarea::placeholder {
    font-size: .8rem;

    text-transform: capitalize;
}

#reach-me-out button {
    font-size: .9rem;

    padding: .4rem 2rem;
}

#reach-me-out input: {
    border-radius: 4px;
}



@media (min-width: 1200px) {
    #behance .container,
    #github .container,
    #codepen .container,
    #notion .container {
        display: flex;

        max-width: 100%;
        height: 80vh;
        padding: 8rem 14rem;
        padding-top: 10rem;

        align-items: center;
    }
    #behance .behance-content,
    #github .github-content,
    #codepen .codepen-content,
    #notion .notion-content {
        padding-top: 4rem;
    }
    section {
        margin-top: 0rem;
    }
}

@media (max-width: 576px) {
    #behance .behance-content,
    #github .github-content,
    #codepen .codepen-content,
    #notion .notion-content {
        padding-left: 0rem;
    }
}

footer {
    font-family: 'PT Mono', monospace;

    margin-bottom: 10rem;
}

footer .feather {
    width: 2rem;
    height: 4rem;
    padding: 2rem 0rem;

    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

footer .twitter:hover {
    fill: #1da1f2;
    stroke: white;
}

footer .linkedin:hover {
    fill: #0077b5;
    stroke: white;
}

footer .instagram:hover {
    fill: #dc044f;
    stroke: white;
}

footer .facebook:hover {
    fill: #3b5a9a;
    stroke: white;
}

footer address {
    font-size: .9rem;

    margin-top: 2rem;
}